*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loading-page {
    position: sticky;
    z-index: 9999;
    top: 100;
    left: 100;
    height: 0%;
    width: 0%;
}
/* navbar*/
img[alt="logo"] {
    width: 19rem;
    height: 2rem;
    border-top: 50px;
}
.nav-item, ul, li, a {
    display: flex;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: px;

    color: black;
    background-color: white;
    padding: -2rem 0px 0 100px;
    
}
/*body*/
body {
    background-image: url(https://i.postimg.cc/jqyvysw4/whitepoly.jpg);
}
.img {
    border-radius: 4px;
    padding: 50px;
    max-width: 100%;
    height: fit-content;
}
div img{
    margin-top: 50px;

margin-right: 20px;

margin-bottom: 30px;

margin-left: 0px;
}
