
.loading-page {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/_webmoduledata/videos/loaders/200w (3).gif') center no-repeat #141414;
}
