*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loading-page {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* navbar*/
.nav-item, ul, li, a {
    text-align: left;
    margin-top: 10px;
    text-color: black;
}
/*body*/
body {
    background-image: url(https://i.postimg.cc/jqyvysw4/whitepoly.jpg);
}